#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.table {
  border-collapse: collapse
}

.tableCell {
  border: 1px solid gray;
  margin: 0;
  padding: 5px 10px;
  width: max-content;
  min-width: 150px
}

.container {
  padding: 20px;
  border: 1px solid #F0F8FF;
  border-radius: 15px;
  width: max-content;
  margin-bottom: 40px;

}

.containerEmple {
  padding: 5px;
  border: 1px solid #F0F8FF;
  border-radius: 15px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h4{
  text-align: left;
}

.tittleEmple {
  padding: auto;
  margin: 5px;
}

.inputs {
  margin-bottom: 5px
};
.submitBtn {
  margin-top: 10px;
  padding: 10px 15px;
  border: none;
  background-color: lightseagreen;
  font-size: 14px;
  border-radius: 5px
}

.contenButton {
  display: flex;
  width: 100px;
}